{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Editar
{% endblock %}

{% block content %}
<div class="bg-dark">
    <form method="post" class="mx-5">
        {% csrf_token %}

        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
            {{field.label}}: {{error}}
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{error}}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-row" >
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D INT A: </label>
                <input type="number" step="any" value={{ form.D_INT_A.value }} class="form-control text-white bg-dark" placeholder="D INT A" name="D_INT_A">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D INT A1: </label>
                <input type="number" step="any" value={{ form.D_INT_A1.value }} value=0 class="form-control text-white bg-dark" placeholder="D INT A1" name="D_INT_A1">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D EXT D: </label>
                <input type="number" step="any" value={{ form.D_EXT_D.value }}  value=0 class="form-control text-white bg-dark" placeholder="D EXT D" name="D_EXT_D">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D EXT D1: </label>
                <input type="number" step="any" value={{ form.D_EXT_D1.value }} value=0 class="form-control text-white bg-dark" placeholder="D EXT D1" name="D_EXT_D1">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D ESP B: </label>
                <input type="number" step="any" value={{ form.D_ESP_B.value }} value=0 class="form-control text-white bg-dark" placeholder="D ESP B" name="D_ESP_B">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D ESP C: </label>
                <input type="number" step="any" value={{ form.D_ESP_C.value }} value=0 class="form-control text-white bg-dark" placeholder="D ESP C" name="D_ESP_C">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">D ESP T: </label>
                <input type="number" step="any" value={{ form.D_ESP_T.value }} value=0 class="form-control text-white bg-dark" placeholder="D ESP T" name="D_ESP_T">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">N° PARTE 1: </label>
                <input type="text" class="form-control text-white bg-dark" value="{{ form.N_PARTE_1.value }}" placeholder="N° Parte 1" name="N_PARTE_1">
            </div>
            <div class="col-md-4 col-lg-4">
                <label class="text-white" for="">N° PARTE 2: </label>
                <input type="text" class="form-control text-white bg-dark" value="{{ form.N_PARTE_2.value }}" placeholder="N° Parte 2" name="N_PARTE_2">
            </div>
        </div>
        <div class="from-row">
            <div class="col-md-12 col-lg-12">
                <label class="text-white" for="">Tipo Rodamiento: </label>
                <select class="form-control form-control text-white bg-dark" name="FK_TIPO_ROD">
                    {% for x,y in form.fields.FK_TIPO_ROD.choices %}
                    <option value="{{ x }}" {% if form.FK_TIPO_ROD.gender.value == x or form.FK_TIPO_ROD.value == x %}
                        selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="from-row">
            <div class="col-md-12 col-lg-12">
                <label class="text-white" for="">Descripcion: </label>
                <textarea class="form-control text-white bg-dark"  placeholder="Descripcion" name="DESCRIPCION" rows="3">{{ form.DESCRIPCION.value }}</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Editar</button>

    </form>
</div>
{% endblock %}