{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Buscador Rodamiento
{% endblock %}

{% block content %}
<div class="bg-dark">
    <form method="get" class="bg-dark" >
        <div class="form-row">
            <div class="col">
                <input id="input" type="number" class="form-control text-white bg-dark" placeholder="D INT A" name="D_INT_A" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D INT A1" name="D_INT_A1" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D EXT D" name="D_EXT_D" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D EXT D1" name="D_EXT_D1" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D ESP B" name="D_ESP_B" autocomplete="off"> 
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D ESP C" name="D_ESP_C" autocomplete="off">
            </div>
            <div class="col">
                <input type="number" class="form-control text-white bg-dark" placeholder="D ESP T" name="D_ESP_T" autocomplete="off">
            </div>
        </div>
        <hr class="bg-light">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control text-white bg-dark" placeholder="N° Parte 1" name="N_PARTE_1" autocomplete="off">
            </div>
            <div class="col">
                <input type="text" class="form-control text-white bg-dark" placeholder="N° Parte 2" name="N_PARTE_2" autocomplete="off">
            </div>
            <div class="col">
                <select class="form-control form-control text-white bg-dark" name="FK_TIPO_ROD">
                    {% for x,y in filter.form.fields.FK_TIPO_ROD.choices %}
                    <option value="{{ x }}" {% if form.FK_TIPO_ROD.gender.value == x or form.FK_TIPO_ROD.value == x %}
                        selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>

    </form>
    <div id="tabla" class="table-responsive">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">D INT A</th>
                    <th scope="col">D INT A1</th>
                    <th scope="col">D EXT D</th>
                    <th scope="col">D EXT D1</th>
                    <th scope="col">D ESP B</th>
                    <th scope="col">D ESP C</th>
                    <th scope="col">D ESP T</th>
                    <th scope="col">N° Parte 1</th>
                    <th scope="col">Tipo Rodamiento</th>

                </tr>
            </thead>
            <tbody>

                {% for Rodamiento in filter.qs %}
                <tr id='start'>
                    <td>{{ Rodamiento.D_INT_A }}</td>
                    <td>{{ Rodamiento.D_INT_A1 }}</td>
                    <td>{{ Rodamiento.D_EXT_D }}</td>
                    <td>{{ Rodamiento.D_EXT_D1 }}</td>
                    <td>{{ Rodamiento.D_ESP_B }}</td>
                    <td>{{ Rodamiento.D_ESP_C }}</td>
                    <td>{{ Rodamiento.D_ESP_T }}</td>
                    <td>{{ Rodamiento.N_PARTE_1 }}</td>
                    <td>{{ Rodamiento.FK_TIPO_ROD }}</td>

                    <td><button type="button" class="btn btn-primary {{ forloop.counter }}" data-toggle="modal"
                            data-target="#id{{ Rodamiento.PK_ROD  }}">
                            Ver Mas.
                        </button></td>
                    <td><a class="text-danger {{ forloop.counter }}"
                            href="/mantenedor/rod/eliminar/{{ Rodamiento.PK_ROD  }}"
                            onclick="return confirm('¿Esta seguro de borrar?');">Eliminar</a></td>
                    <td><a class="text-danger {{ forloop.counter }}"
                            href="/mantenedor/rod/editar/{{ Rodamiento.PK_ROD }}" >Modificar</a></td>
                </tr>
                <div class="modal" id="id{{ Rodamiento.PK_ROD  }}">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header bg-dark text-white">
                                <h4 class="modal-title">Mas Informacion</h4>
                                <button type="button" style="color:white;" class="close"
                                    data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body bg-dark text-white">
                                <h5>N° Parte 2: </h5>
                                <h6>{{ Rodamiento.N_PARTE_2 }}</h6>
                                <hr class="bg-light">
                                <h5>Descipcion: </h5>
                                <h6>{{ Rodamiento.DESCRIPCION }}</h6>
                                <hr class="bg-light">


                                <h5>Equivalentes: </h5>
                                <hr class="bg-light">
                                {% for Equivalente in equiv %}
                                {% if Rodamiento.PK_ROD == Equivalente.FK_RODAMIENTO.PK_ROD %}

                                <h6>{{ Equivalente.N_ROD }} - {{ Equivalente.MARCA }}
                                    <a class="btn-sm btn-primary float-right"
                                        href="/mantenedor/equiva/buscar?id={{ Equivalente.id }}">Ver Equivalente</a>
                                </h6>
                                <hr class="bg-light">
                                {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer bg-dark text-white">
                                <a class="btn btn-primary float-right"
                                    href="/mantenedor/equiva/agregar/{{ Rodamiento.PK_ROD }}">Agregar Equivalente</a>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block script %}
    <script src="/static/js/tabla.js"></script>

    <script>
        $('.modal').on('show.bs.modal', function () {
            $('.modal').not($(this)).each(function () {
                $(this).modal('hide');
            });
        });
    </script>
    {% endblock %}

    {% block scriptesc %}
    {% endblock %}

    {% endblock %}